@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;1,200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background: linear-gradient(45deg, black, #32174d);
  color: black;
}

::-webkit-scrollbar {
  background-color: white;
  width: 0.3rem;
}
::-webkit-scrollbar.thu{
  background-color: #f72585;
}
